body{

}

.button1 button{
    width: 200px;
    height: 50px;

    font-size: 20px;
    color: yellow;

    background: black;

    border: none;
    border-radius: 15px;
}

.button2 button{
    width: 110px;
    height: 30px;

    background: navy;
    color: white;
    font-size: 15px;

    border: none;
    border-radius: 10px;
}

.button3 button{
    width: 150px;
    height: 30px;

    background: red;
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 10px;
}

.button4 button{
    width: 170px;
    height: 30px;

    background: lime;
    color: black;
    font-size: 15px;
    border: none;
    border-radius: 15px;
}

.button5 button{

    width: 70px;
    height: 25px;
    background: darkblue;
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 5px;
}

.button6 button{
    width: 200px;
    height: 30px;
    background-color: black;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 18px;
}                

.button7 button{
    width: 65px;
    height: 25px;
    background-color: black;
    color: yellow;
    border: none;
    border-radius: 5px;
}

.button8 button{
    width: 150px;
    height: 30px;
    background-color: whitesmoke;
    font-size: large;
    border-radius: 10px;
}

.button9 button{
    width: 100px;
    height: 25px;
    background-color: black;
    color: yellow;
    font-size: 15px;
    border: none;
    border-radius: 8px;
}

.button10 button{
    width: 60px;
    height: 25px;
    background-color: navy;
    color: white;
    border: none;
    border-radius: 8px;
}